
        .router-link-active[data-v-8abb715b] {
            color: #22c55e;
            font-weight: 600
        }

        header[data-v-8abb715b] {
            transition: all .3s ease
        }

        header[data-v-8abb715b],
        header.scrolled[data-v-8abb715b] {
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px)
        }

        header.scrolled[data-v-8abb715b] {
            background-color: #1b365df2;
            box-shadow: 0 4px 20px #00000026
        }

        .fade-enter-active[data-v-8abb715b],
        .fade-leave-active[data-v-8abb715b] {
            transition: opacity .2s ease
        }

        .fade-enter-from[data-v-8abb715b],
        .fade-leave-to[data-v-8abb715b] {
            opacity: 0
        }

        .logo-link[data-v-8abb715b],
        a[data-v-8abb715b],
        button[data-v-8abb715b],
        button[aria-controls=mobile-menu][data-v-8abb715b] {
            cursor: pointer
        }
/* */






