<footer class="relative bg-[#1B365D] to-gray-900 pt-8 pb-6">
            <div class="container mx-auto px-4">
                <div class="flex flex-wrap">
                    <div class="w-full lg:w-6/12 px-4"><span
                            class="text-3xl text-gray-400 dark:text-gray-400 font-semibold"> Let&#39;s keep in touch!
                        </span>
                        <ul>
                            <li><a class="text-gray-400 dark:text-gray-400 hover:text-zinc-500 pt-5 block pb-2 text-sm space-y-4"
                                    href="https://www.google.com/localservices/prolist?spp=Cg0vZy8xMXJ0cGZ4bnc3&amp;src=2&amp;slp=UhUIARIREg8iDS9nLzExcnRwZnhudzc"
                                    target="_blank" title="Jasa SEO Profesional &amp; Pembuatan Website di Jogja">
                                    Roofel </a></li>
                            <li class="pt-0 mb-2 text-gray-400 dark:text-gray-400 text-sm"> Gg. Cucak Rowo No.8, Pogung
                                Lor, Sinduadi, Kec. Mlati, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55284 </li>
                            <li class="text-sm pt-3 mb-2 text-gray-400 dark:text-gray-400"> Phone | 62811291267 </li>
                            <li class="text-sm pt-3 mb-2 text-gray-400 dark:text-gray-400"><span
                                    class="text-gray-400 dark:text-gray-400"> Roofel Siap Membantu Transformasi</span><a
                                    href="/blog/digital-marketing-pengertian-dan-strategi-terbaru"
                                    class="text-gray-400 dark:text-gray-400 hover:text-zinc-500" rel="page"
                                    title="SEO Specialist Berpengalaman" aria-label="navigation"> Digital Marketing </a>
                                perusahaan dan <a href="/blog/pengertian-umkm-kriteria-dan-contoh-usaha"
                                    class="text-gray-400 dark:text-gray-400 hover:text-zinc-500" rel="page" title="UMKM"
                                    aria-label="navigation"> UMKM </a> Lebih Cepat dan efesien </li>
                        </ul>
                    </div>
                    <div class="w-full lg:w-6/12 px-4">
                        <div class="flex flex-wrap items-top mb-6">
                            <div class="w-full lg:w-1/2 px-4 lg:pt-0 pt-4"><span
                                    class="block uppercase text-gray-400 dark:text-gray-400 text-sm font-semibold">Layanan</span>
                                <ul class="list-unstyled block pb-4 pt-4 text-sm space-y-4"><!--[-->
                                    <li><a href="/jasa-seo" class="text-gray-400 dark:text-gray-400 hover:text-zinc-500"
                                            rel="page" title="Jasa SEO Profesional" aria-label="navigation">Jasa SEO
                                            Profesional</a></li>
                                    <li><a href="/pembuatan-website-umkm"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500" rel="page"
                                            title="Jasa Pembuatan Website UMKM" aria-label="navigation">Pembuatan
                                            Website UMKM</a></li>
                                    <li><a href="/kursus-seo-online"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500" rel="page"
                                            title="Kursus SEO Online" aria-label="navigation">Kursus SEO Online</a></li>
                                    <li><a href="/jasa-seo/jasa-backlink"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500" rel="page"
                                            title="Jasa Backlink SEO" aria-label="navigation">Jasa Backlink SEO </a>
                                    </li>
                                    <li><a href="/jasa-pembuatan-website-jogja/jasa-seo-jogja"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500" rel="page"
                                            title="Jasa SEO Yogyakarta" aria-label="navigation">Jasa SEO Jogja</a></li>
                                    <li><a href="/jasa-pembuatan-website-bogor/jasa-seo-bogor"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500" rel="page"
                                            title="Jasa SEO Bogor Jawa barat" aria-label="navigation">Jasa SEO Bogor</a>
                                    </li>
                                    <li><a href="/jasa-google-ads"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500" rel="page"
                                            title="Jasa Google Ads" aria-label="navigation">Jasa Google Ads</a></li>
                                    <!--]-->
                                </ul>
                            </div>
                            <div class="w-full lg:w-1/2 px-4 ml-auto space-x-5"><span
                                    class="block uppercase text-gray-400 dark:text-gray-400 text-sm font-semibold mb-2">Our
                                    Pages</span>
                                <ul class="list-unstyled text-gray-400 dark:text-gray-400 pb-4 pt-4 text-sm space-y-4">
                                    <li><a href="/blog/" class="text-gray-400 dark:text-gray-400 hover:text-zinc-500"
                                            rel="page" aria-label="navigation" title="Portofolio">Blog </a></li>
                                    <li><a href="/contact-us"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500" rel="page"
                                            aria-label="navigation" title="Portofolio">Contact Us </a></li>
                                    <li><a href="/tentang-kami"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500" rel="page"
                                            aria-label="navigation" title="Tentang Kami">AboutUs </a></li>
                                    <li><a class="text-gray-400 dark:text-gray-400 hover:text-zinc-500"
                                            title="MIT License" href="/" aria-label="navigation" rel="page"></a></li>
                                    <li><a class="text-gray-400 dark:text-gray-400 hover:text-zinc-500"
                                            title=" Terms &amp; Conditions" href="/terms-and-conditions"
                                            aria-label="navigation" rel="page"> Terms &amp; Conditions </a></li>
                                    <li><a class="text-gray-400 dark:text-gray-400 hover:text-zinc-500"
                                            title=" Privacy Policy" href="/privacy-policy" aria-label="navigation"
                                            rel="page"> Privacy Policy </a></li>
                                </ul>
                                <hr class="border-zinc-800">
                                <ul
                                    class="list-unstyled flex flex-wrap gap-4 text-gray-400 dark:text-gray-400 pb-4 pt-4 text-sm">
                                    <!--[-->
                                    <li><a href="/blog/tags/seo"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500"
                                            title="SEO">SEO</a></li>
                                    <li><a href="/blog/tags"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500"
                                            title="Tags">Tags</a></li>
                                    <li><a href="/blog/tags/digitalmarketing"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500"
                                            title="Digital Marketing">Digital Marketing</a></li>
                                    <li><a href="/blog/tags/website"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500"
                                            title="Website">Website</a></li>
                                    <li><a href="/blog/tags/hosting"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500"
                                            title="Hosting">Hosting</a></li>
                                    <li><a href="/jasa-pembuatan-website-bogor"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500"
                                            title="Usaha">Pembuatan Website Bogor</a></li>
                                    <li><a href="/jasa-pembuatan-website-jogja"
                                            class="text-gray-400 dark:text-gray-400 hover:text-zinc-500"
                                            title="Usaha">Pembuatan Website Jogja</a></li><!--]-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-6 border-gray-500">
                <div class="flex flex-wrap items-center text-center md:justify-between justify-center pt-3">
                    <div class="w-full md:w-4/12 px-4 mx-auto">
                        <div class="text-sm text-gray-400 dark:text-gray-400 py-1"> Copyright © 2025 <a
                                href="https://roofel.com/" title="Roofel Digital Marketing Agency"
                                class="text-gray-400 dark:text-gray-400 hover:text-zinc-500"> Roofel </a></div>
                    </div>
                </div>
            </div>
        </footer><!--]-->