<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://www.clarity.ms" crossorigin="anonymous">
    <link rel="preconnect" href="https://roofel.b-cdn.net" crossorigin="anonymous">
   
    <link rel="stylesheet" href="/_nuxt/entry.m9pIhv6x.css" crossorigin>
    <link rel="modulepreload" as="script" crossorigin href="/_nuxt/CiLaT9GC.js">
    <link rel="modulepreload" as="script" crossorigin href="/_nuxt/DFJlzJgM.js">
    <link rel="modulepreload" as="script" crossorigin href="/_nuxt/DXO0wnIU.js">
    <link rel="modulepreload" as="script" crossorigin href="/_nuxt/DHEk6fSa.js">
    <link rel="modulepreload" as="script" crossorigin href="/_nuxt/-EuxE3jU.js">
    <link rel="modulepreload" as="script" crossorigin href="/_nuxt/BIRd9z0c.js">
    <link rel="modulepreload" as="script" crossorigin href="/_nuxt/C6AtO4Mk.js">
    <link rel="modulepreload" as="script" crossorigin href="/_nuxt/BIHo36NG.js">
    <link rel="preload" as="fetch" fetchpriority="low" crossorigin="anonymous"
        href="/_nuxt/builds/meta/90e49010-a267-44c9-8b4f-6010d7080dc8.json">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://www.clarity.ms">
    <link rel="dns-prefetch" href="https://roofel.b-cdn.net">

	<link rel="icon" type="image/x-icon" href="/favicon.ico">